[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "==8.7.0"
adafruit-circuitpython-ssd1306 = "==2.12.10"
adafruit-ssd1306 = "==1.6.2"
board = "==1.0"
pillow = "==9.3.0"
pyserial = "==3.5"
requests = "==2.25.1"
tqdm = "==4.64.1"

[dev-packages]

[requires]
python_version = "3.9"
